* {
    color: aliceblue;
    font-size: 30px;
}


.bg {
    background-color: rgb(0, 140, 255);
}



.container {
    position: fixed;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
}

}

.progress-container {
  height: 0.8rem;
  width: 5%;
  border-radius: 0.4rem;

  background: #000;
}



.progress-container .progress {
  height: 15%;
  width: 0;
  bottom: 0;
  top: 90%;
  border-radius: 0.4rem;

  background: #ff4754;

  transition: width 0.4s ease;
}

.title {
    lighting-color: blue;
    font-size: 30px;
}

.KB {
    color: rgb(255, 0, 0);
    font-size: 40px;

    position: fixed;
    bottom: 165px;
    left: 10px;
}

.KB-TXT {
    color: rgb(0, 0, 0);
    font-size: 30px;

    position: fixed;
    bottom: 20px;
    left: 10px;
}

.about {
color: deeppink;
font-size: 40px;

position: fixed;
bottom: 215px;
right: 10px;
}

.about-txt {
    color: rgb(0, 0, 0);
    font-size: 40px;
    
    position: fixed;
    bottom: 25px;
    right: 10px;
}

.life {
    color: rgb(0, 0, 0);
    font-size: 40px;
    
    position: fixed;
    right: 38%;
    top: 2%
    font-style: italic;
}
